@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
    font: 14px/18px 'Ubuntu', sans-serif;
}

.wrap {
    max-width: 85%;
    margin: 0 auto;
}

.lab {
    // border:1px solid red;
    padding: 15px 10px;

    h2 {
        text-align: center;
        padding: 8px 0 12px;
        border-bottom: 1px solid #e5e5e5;
    }

    .tasks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .task {
            margin-top: 10px;
            max-width: 49%;

            h3 {

                margin: 10px 0;
            }

            .description {
                font-size: 1.2em;
                margin-bottom: 10px;
            }

            .result {
                font-weight: 700;
            }

            button,
            input {
                margin-top: 15px;
                padding: 2px 5px;
                font-weight: 700;
            }

            button {
                cursor: pointer;
                font-weight: 400;
            }
        }
    }
}
#matrix{
    margin: 10px 0;
    & td{
        padding: 3px;
        border: 1px solid #000;
        text-align: center;
    }
}